body, html {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', 'Calibri', Arial, sans-serif;
    height: 100%;
}
#scanned    {
    display: none;
}
#success    {
    display: none;
    text-align: center;
    background-color: lightgrey;
    border: 2px solid lightskyblue;
    border-radius: 12px;
    /*width: 60%;*/
    margin: auto;
}
#loading    {
    display: none;
    text-align: center;
    background-color: lightgrey;
    border: 2px solid lightskyblue;
    border-radius: 12px;
    /*width: 60%;*/
    margin: auto;

}
.container  {
    margin-top:10px;
    margin-bottom:10px;
    text-align: center;
    background-color: white;
    border: 2px solid lightskyblue;
    border-radius: 12px;
    width:60%;
    margin-left: auto;
    margin-right: auto;
}
.preview-container  {
    text-align: center;
}
#preview    {
    margin: 10px;
    /* border: 3px solid black; */
    width:95%;
}
table   {
    width: 100%;
}
table td    {
    width: 30%;
}
table td + td{  /* this will go to the 2nd column of a table directly */
    width:70%;
    text-align:left;
}
table td + td > input,textarea{  /* this will go to the 2nd column of a table directly */
    width:80%;
}
#aadhar {
    display:inline;
}

body{
    font-family: 'EB Garamond', serif;
    background: #5f2c82;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*#aadharButton   {*/
    /*width:20%;*/
    /*text-align: center;*/
/*}*/
#loadingRec {
    text-align: center;
    display: none;
}
#displayOption  {
    display:none;
}
/*#history    {*/
    /*display: none;*/
/*}*/
.recordP    {
    margin-bottom:0;
}
.sputumFalse {
    color:darkgreen;
    margin:0;
}
.sputumTrue {
    color:red;
    margin:0;
}

/*.formDiv    {*/
    /*display:none;*/
/*}*/

.historyRec {
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
}


.formDiv    {
    /*width:60%;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* border:1px solid black; */
}

#symptoms   {
    text-align:left;
}

#updateButton   {
    float: left;
}
#cureButton   {
    float: right;
}