<!DOCTYPE html>
<html>
<head>
	<title>View Data - Government Portal</title>
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="govt_show_data.css">
</head>
<body>
	<div class = "container header">
		<div class = "row">
			<div class="col-xs-12">
				<h1>View all the<br>TB cases reported</h1>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class = "col-xs-1"></div>
			<div class = "col-xs-10">
				<!-- adhar, name, dob, city, gender, state, date detected -->
				<div class = "row heading">
					<div class = "col-xs-2">Aadhar</div>
					<div class = "col-xs-1">Name</div>
					<div class = "col-xs-2">DOB</div>
					<div class = "col-xs-2">City</div>
					<div class = "col-xs-1">Gender</div>
					<div class = "col-xs-2">State</div>
					<div class = "col-xs-2">Date detected</div>
				</div>
			</div>
			<div class = "col-xs-1"></div>
		</div>
	</div>

<script type="text/javascript" src="govt_show_data.js"></script>
</body>
</html>